---
// Definición de la interfaz del componente Card
export interface CardProps {
	image: string;
	title: string;
	description: string;
	socialLinks: {
		facebook: string;
		twitter: string;
		instagram: string;
	};
	
}


const { image, title, description, socialLinks} = Astro.props as CardProps;
---


<div class="card" style={`background-image: url(${image});`}>
	
	<div class="card-content">
		<h3>{title}</h3>
		<p>{description}</p>
		<div class="social-icons">
			<a
				href={socialLinks.facebook}
				target="_blank"
				rel="noopener"
				aria-label="Facebook"
			>
				<i class="fab fa-facebook"></i>
			</a>
			<a
				href={socialLinks.twitter}
				target="_blank"
				rel="noopener"
				aria-label="Twitter"
			>
			<i class="fa-solid fa-globe"></i>
			</a>
			<a
				href={socialLinks.instagram}
				target="_blank"
				rel="noopener"
				aria-label="Instagram"
			>
				<i class="fab fa-instagram"></i>
			</a>
		</div>
	</div>
</div>


<style>
	.card {
		position: relative;
		margin-top: 9%;
		width: 350px;
		height: 450px;
		background-size: cover;
		background-position: center;
		border-radius: 16px;
		overflow: hidden;
		box-shadow: 0 8px 20px rgba(3, 3, 3, 0.3);
		transition:
			transform 0.3s ease,
			box-shadow 0.3s ease;
	}

	.card:hover {
		transform: scale(1.2);
		box-shadow: 0 12px 30px rgba(240, 237, 237, 0.5);
	}

	.card-content {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 24px;
		color: #fff;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
		text-align: center;
		transition: background 0.1s ease;
	}

	.card-content h3 {
		font-size: 24px;
		margin-bottom: 12px;
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
	}

	.card-content p {
		font-size: 16px;
		margin-bottom: 16px;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
	}

	.social-icons {
		display: flex;
		justify-content: center;
		gap: 16px;
	}

	.social-icons a {
		font-size: 20px;
		color: #fff;
		transition:
			color 0.3s,
			transform 0.3s;
	}

	.social-icons a:hover {
		color: #ffcc00;
		transform: scale(1.2);
	}
</style>
