---
// Definición de la interfaz del componente Card
interface Props {
	title: string;
	body: string;
	href: string;
	tags: string[];
	imageUrl: string;
	facebookUrl: string;
	twitterUrl: string;
	instagramUrl: string;
	whatsappUrl: string;
}

const {
	title,
	body,
	href,
	tags,
	imageUrl,
	facebookUrl,
	twitterUrl,
	instagramUrl,
	whatsappUrl,
} = Astro.props;
---

<li class="tourism-card">
	<!-- <a href={href} target="_blank" class="card-link"> -->
	<a href={href} target="_blank" class="card-link">
		<img src={imageUrl} alt={title} class="card-image" />
	</a>
	<div class="card-content">
		<h2>{title}</h2>
		<p>{body}</p>
		<div class="content-bottom">
			<!-- <div class="tags">
				{tags.map((tag) => <span class="tag">{tag}</span>)}
			</div>-->
			
			<div class="social-buttons">
				{
					facebookUrl && (
						<a
							href={facebookUrl}
							target="_blank"
							aria-label="Facebook"
						>
							<img
								src="/icons/face4.svg"
								alt="Facebook"
								class="social-icon"
							/>
						</a>
					)
				}
				{
					instagramUrl && (
						<a
							href={instagramUrl}
							target="_blank"
							aria-label="Instagram"
						>
							<img
								src="/icons/insta3.svg"
								alt="Instagram"
								class="social-icon"
							/>
						</a>
					)
				}
			</div>
		</div>
	</div>
</li>

<style>
	
	.tourism-card {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: #1a1a1a;
    transition: 
        transform 0.3s ease,
        box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	margin-top: 2rem;
}

.tourism-card:hover {
    transform: translateX(10px); /* Mueve la tarjeta 10px a la derecha */
    box-shadow: 0 4px 15px rgba(231, 130, 14, 0.767); /* Sombra más pronunciada */
}

	.card-link {
		text-decoration: none;
		color: white;
	}

	.card-image {
		width: 100%; /* Ajusta al ancho del contenedor */
		height: 200px; /* Altura fija para las imágenes */
		object-fit: cover; /* Recorta la imagen para que se ajuste sin deformarse */
		transition: transform 0.3s ease;
	}

	.card-image:hover {
		transform: scale(1.1);
	}
	


	.card-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between; /* Coloca los elementos al inicio y final */
		padding: 1rem;
		flex-grow: 1; /* Permite que este contenedor llene el espacio disponible */
	}
	h2 {
		margin: 0;
		font-size: 1.5rem;
		color: #fff;
	}

	p {
		margin: 0.5rem 0 0.5rem;
		color: #ccc;
		font-size: 1.1rem;
	}

	.content-bottom {
		margin-top: auto; /* Empuja este contenedor hacia la parte inferior */
		margin-left: 6.6rem;
	}

	

	/*.tags {
		margin: 0.5rem 0;
		display: flex;
		flex-wrap: wrap;
	}

	.tag {
		background-color: #444;
		color: #fff;
		padding: 0.3rem 0.6rem;
		border-radius: 12px;
		font-size: 0.875rem;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;
	} 
		*/
	.social-buttons {
        display: flex;
        justify-content: flex-start;
        margin-top: 1.5rem;
        gap: 1.5rem; /* Espaciado uniforme entre botones */
    }

    .social-buttons a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        background-color: #2c2c2c; /* Fondo oscuro para el botón */
        color: #fff; /* Color del icono */
        border-radius: 8px; /* Bordes ligeramente redondeados */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra elegante */
        transition: all 0.3s ease;
		
    }

    .social-buttons a:hover {
        background-color: #946f09; /* Color de fondo al pasar el mouse */
        color: #fff; /* Mantener el color del icono */
        box-shadow: 0 8px 12px rgba(226, 2, 2, 0.3); /* Sombra más pronunciada */
        transform: translateY(-3px); /* Efecto de elevación */
    }

    .social-icon {
        width: 33px; /* Tamaño del icono */
        height: 35px;
        transition: transform 0.4s ease;
    }

    .social-icon:hover {
        transform: scale(1.2); /* Efecto sutil de zoom */
    }
</style>