---
// Definición de la interfaz del componente CardTurismo
interface Props {
    title: string;
    description: string;
    href: string;
    tags: string[];
    imageUrl: string;
    facebookUrl: string;
    whatsappUrl: string;
    instagramUrl: string;
}

const {
    title,
    description,
    href,
    tags,
    imageUrl,
    facebookUrl,
    whatsappUrl,
    instagramUrl,
} = Astro.props;
---

<li class="tourism-card">
    <a href={href} target="_blank" class="card-link">
        <img src={imageUrl} alt={title} class="card-image" />
        <div class="card-content">
            <h2>{title}</h2>
            <p>{description}</p>
            <div class="tags">
                {tags.map((tag) => <span class="tag">{tag}</span>)}
            </div>
            <div class="social-buttons">
                {
                    facebookUrl && (
                        <a
                            href={facebookUrl}
                            target="_blank"
                            aria-label="Facebook"
                        >
                            <span class="icon-facebook" />
                        </a>
                    )
                }
                {
                    whatsappUrl && (
                        <a
                            href={whatsappUrl}
                            target="_blank"
                            aria-label="WhatsApp"
                        >
                            <span class="icon-whatsapp" />
                        </a>
                    )
                }
                {
                    instagramUrl && (
                        <a
                            href={instagramUrl}
                            target="_blank"
                            aria-label="Instagram"
                        >
                            <span class="icon-instagram" />
                        </a>
                    )
                }
            </div>
        </div>
    </a>
</li>

<style>
    .tourism-card {
        list-style: none;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;
        background-color: #2e3b4e;
        transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .tourism-card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }

    .card-link {
        text-decoration: none;
        color: white;
    }

    .card-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .card-image:hover {
        transform: scale(1.1);
    }

    .card-content {
        padding: 1rem;
        background-color: #1f273b;
    }

    h2 {
        margin: 0;
        font-size: 1.5rem;
        color: #fff;
    }

    p {
        margin: 0.5rem 0 1rem;
        color: #ccc;
    }

    .tags {
        margin: 0.5rem 0;
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        background-color: #444;
        color: #fff;
        padding: 0.3rem 0.6rem;
        border-radius: 12px;
        font-size: 0.875rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .social-buttons {
        display: flex;
        justify-content: flex-start;
        margin-top: 1rem;
    }

    .social-buttons a {
        margin-right: 10px;
        color: #fff;
    }

    .social-buttons span {
        font-size: 1.5rem; /* Cambia el tamaño del icono según tus necesidades */
    }
</style>
